.body{
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    background-image: "Sunny_weather.jpg";
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
}    